body {
  .btn-detail {
    background-color: #004d82 !important;
    color: #ffffff;
    border-radius: 5px;

    &:hover{
      background-color: #001a40 !important;
      color: #ffffff;
    }
  }
}